<h1>Aktsiad ja andmed</h1>

<table>
  <tr>
    <th>Aktsia nimi</th>
    <th>Hind</th>
    <th>Kogus</th>
    <th>Protsent</th>
    <th>Aastad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calcs.each do |calc| %>
  <tr>
    <td><%= calc.aktsia_nimi %></td>
    <td><%= calc.hind %></td>
    <td><%= calc.kogus %></td>
    <td><%= calc.protsent %></td>
    <td><%= calc.aastad %></td>
    <td><%= link_to 'Näita', calc %></td>
    <td><%= link_to 'Muuda', edit_calc_path(calc) %></td>
    <td><%= link_to 'Eemalda', calc, method: :delete, data: { confirm: 'Oled kindel?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Sisesta uued andmed', new_calc_path %>
